# classify the Size_Categorie using SVM

# month	month of the year: 'jan' to 'dec'
# day	day of the week: 'mon' to 'sun'
# FFMC	FFMC index from the FWI system: 18.7 to 96.20
# DMC	DMC index from the FWI system: 1.1 to 291.3
# DC	DC index from the FWI system: 7.9 to 860.6
# ISI	ISI index from the FWI system: 0.0 to 56.10
# temp	temperature in Celsius degrees: 2.2 to 33.30
# RH	relative humidity in %: 15.0 to 100
# wind	wind speed in km/h: 0.40 to 9.40
# rain	outside rain in mm/m2 : 0.0 to 6.4
# Size_Categorie 	the burned area of the forest ( Small , Large)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report



from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

#  load the dataset

In [3]:
forest=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/forestfires (1).csv')
forest.head()

  month  day  FFMC   DMC  ...  monthnov  monthoct  monthsep  size_category
0   mar  fri  86.2  26.2  ...         0         0         0          small
1   oct  tue  90.6  35.4  ...         0         1         0          small
2   oct  sat  90.6  43.7  ...         0         1         0          small
3   mar  fri  91.7  33.3  ...         0         0         0          small
4   mar  sun  89.3  51.3  ...         0         0         0          small

[5 rows x 31 columns]

In [4]:
forest.shape

(517, 31)

In [5]:
forest.describe()

             FFMC         DMC          DC  ...    monthnov    monthoct    monthsep
count  517.000000  517.000000  517.000000  ...  517.000000  517.000000  517.000000
mean    90.644681  110.872340  547.940039  ...    0.001934    0.029014    0.332689
std      5.520111   64.046482  248.066192  ...    0.043980    0.168007    0.471632
min     18.700000    1.100000    7.900000  ...    0.000000    0.000000    0.000000
25%     90.200000   68.600000  437.700000  ...    0.000000    0.000000    0.000000
50%     91.600000  108.300000  664.200000  ...    0.000000    0.000000    0.000000
75%     92.900000  142.400000  713.900000  ...    0.000000    0.000000    1.000000
max     96.200000  291.300000  860.600000  ...    1.000000    1.000000    1.000000

[8 rows x 28 columns]

In [6]:
forest1=forest.drop(forest.columns[11:30],axis=1)

In [7]:
forest1.head()

  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area size_category
0   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0         small
1   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0         small
2   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0         small
3   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0         small
4   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0         small

In [8]:
forest1.month.replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),(1,2,3,4,5,6,7,8,9,10,11,12), inplace=True)
forest1.day.replace(('mon','tue','wed','thu','fri','sat','sun'),(1,2,3,4,5,6,7), inplace=True)
forest1.size_category.replace(('small','large'),(0,1), inplace= True)

In [9]:
forest1.head()

   month  day  FFMC   DMC     DC  ...  RH  wind  rain  area  size_category
0      3    5  86.2  26.2   94.3  ...  51   6.7   0.0   0.0              0
1     10    2  90.6  35.4  669.1  ...  33   0.9   0.0   0.0              0
2     10    6  90.6  43.7  686.9  ...  33   1.3   0.0   0.0              0
3      3    5  91.7  33.3   77.5  ...  97   4.0   0.2   0.0              0
4      3    7  89.3  51.3  102.2  ...  99   1.8   0.0   0.0              0

[5 rows x 12 columns]

In [10]:
array = forest1.values
X = array[:,0:11]
Y = array[:,11]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [12]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((361, 11), (361,), (156, 11), (156,))

#  Grid Search CV

In [13]:
import warnings
warnings.filterwarnings('ignore')
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [14]:
gsv.best_params_ , gsv.best_score_

({'C': 15, 'gamma': 0.5, 'kernel': 'rbf'}, 0.7451201201201202)

In [15]:
clf = SVC(C= 15, gamma = 50)
clf.fit(X_train , y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 73.07692307692307

array([[113,   0],
       [ 42,   1]])

#  Kernel=Poly

In [16]:
clf1 = SVC()
param_grid1 = [{'kernel':['poly'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv1 = GridSearchCV(clf1,param_grid,cv=10)
gsv1.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [17]:
gsv1.best_params_ , gsv1.best_score_

({'C': 15, 'gamma': 0.5, 'kernel': 'rbf'}, 0.7451201201201202)

In [18]:
clf1 = SVC(C= 15, gamma = 50, kernel = 'poly')
clf1.fit(X_train , y_train)
y_pred = clf1.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 97.43589743589743

array([[111,   2],
       [  2,  41]])

# polynomial kernel gives better result as compare to others